@charset "UTF-8";

html {
    margin-top: 150px;
}

h1 {
    text-align: center;
}

#res {
    border: 1px solid black;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.584);
    height: 56px;
    font-size: 2rem;
}

#tela {
    background-color: rgba(0, 0, 255, 0.463);
    height: 100px;
}

table,
tr {
    background-color: rgb(237, 237, 254);
}

.btn-calc {
    border: 1px solid rgba(0, 0, 0, 0.461);
}

.btn-calc:hover {
    background-color: #997CC2;
    cursor: pointer;
}

#back-btn,
#ac-btn {
    background-color: rgba(255, 166, 0, 0.533);
}

footer {
    text-align: center;
}

/* Seletor Personalizado para todos os col (incluindo col-md etc..) */
.row>.col,
.row [class^=col-] {
    text-align: center;
}

/* Breakpoints */
/* xs */
@media (min-width: 576px) {
    * {
        font-size: 22px;
    }
    #tela {
        height: 120px;
    }
}

/* sm */
@media (min-width: 768px) {
    * {
        font-size: 32px;
    }

    #tela {
        height: 150px;
    }
}

/* md */
@media (min-width: 992px) {
    #tela {
        height: 200px;
    }
}

/* xl */
@media (min-width: 1200px) {}